<html ng-app="clockApp">
    <head>
        <title>Clock App</title>
        <script src="../js/angular.js"></script>
        <script src="../js/app.js"></script>
    </head>
    <body>
        <h1>Clock App</h1>
        <div ng-controller="TimeCtrl">
            Enter your name:<input type="text" ng-model="userName"></input>
            <p>The current time is : {{timeString}}</p>
            <p>Your Name is : {{userName}}</p>
            <button ng-click="updateTime()">Update Time</button>
        </div>
    </body>
</html>